body{
    overflow-x: hidden;
}

.clear{
    font-family: "HiraKakuPro-W6";
    font-size: 1.5em;
    margin-top: 20px;
    color: red;
}
.box{
    text-align: center;
}

a{
    padding-bottom: 10px;
}

